<%- include('../layouts/adminLayouts/header.ejs') %>
<%- include('../layouts/adminLayouts/sidebar.ejs') %>
<%- include('../layouts/adminLayouts/navbar.ejs') %>
      <!-- partial -->
      



        <div class="main-panel">
            <div class="content-wrapper">
              <div class="row">
                
                <h1> dash board</h1>
               
              </div>
              </div>
              </div>
              <%- include('../layouts/adminLayouts/footer.ejs') %>